.splash-header.biz-page {
  height: 75px;
  background-image: none;
  background: #D32222;
}

.search-bar.biz-page{
  position: relative;
  left: -35px;
}

.search.biz-page{
  width:300px;
  margin: 0 auto;
  margin-top: 10px;
}

.search-field.biz-page{
  width: 170px;
  float: left;
}

.map-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0;
  align-items: start;
}

.map-container img{
  height: auto;
  width: auto;
  grid-column: 1/2;
}
.hours {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  margin: 0;
  padding: 0;
}

.hours span{
  grid-column: 2/2;
  font-size: 12px;
  font-weight: 400;
  padding: 0;
  width: auto;
}
.hours p{
  grid-column: 1/2;
  font-size: 12px;
  font-weight: 500;
  padding: 0;
}



.log-in-btn.biz-page:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background: #bd1f1f 
}

.nav-links.biz-page{
  display: none;
}

.log-in-btn.biz-page{
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  bottom: 4px;
  margin-top: 20px; 
  position: relative;
}

.sign-up-btn.biz-page{
  font-size: 12px;
  color: black;
  background: white;
}

.sign-up-btn.biz-page:hover {
    color: black;
    background-color:#FFFFFF;
}

.demo-login-btn.biz-page{
  font-size: 12px;
}


.search-btn.biz-page:hover{
  background-color: #a71c1c
}



.gallery-container {
  width: 100%;
  // height: 250px;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 25px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.show-container {
  width: 960px;
  display: grid;
  grid-template-columns: 70% 30%;
  // border: 1px solid black;
  margin: 0 auto;
  grid-gap: 15px;
}

.gallery{
  display: grid;
}

.hours span{
  grid-column: 2/2;
  font-size: 12px;
  font-weight: 400;
  padding: 0;
  width: auto;
}
.hours p{
  grid-column: 1/2;
  font-size: 12px;
  font-weight: 500;
  padding: 0;
}

.sticky-info {
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: grid;
  grid-column: 2/2;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  border-radius: 3px;
}

.sticky-links{
  display: grid;
  grid-template-columns: 15% 85%;
  margin: 20px;
  grid-template-rows: 33% 33% 33%;
  grid-gap: 8px;
}

.sticky-links img{
  grid-column: 1/2;
  width: 24px;
  height: 24px;
  justify-self: center;
  align-self: center;
  color: #333;
  opacity: .7;
}

.sticky-links span{
  grid-column: 2/2;
  font-size: 12px;
  padding: 0;
  height: 15px;
  padding-left: 20px;
  align-self: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #333;
  
}

#sticky-hr{
    overflow: hidden;
    color: rgba(0, 0, 0, 0.2);
    display: grid;
    width: 98%;
}

.biz-info-container {
  // border: 2px solid blue;
  grid-column: 1/2;
}

.biz-info-container h1{ 
  font-size: 24px;
  font-weight: 700;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  padding-top: 6px;
  color: #333;
}

.biz-info-container h3{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #666;
}
.info-buttons {
  height: 35px;
}
hr {
grid-column: 1/2;
    overflow: hidden;

    color: rgba(0, 0, 0, .1);
    display: grid;
    width: 98%;
}

.write-review-modal {
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all .4s;
  font-size: 12px;
  color: #D32323;
  padding: 5px 8px;
  margin: 0 16px 0 0;
  border-radius: 3px;
  height: 18px;
}

.write-review-modal:hover {
  background-color: #FDF6F6;
}

.add-photo {
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all .4s;
  font-size: 12px;
  color: #666;
  padding: 5px 8px;
  border-radius: 3px;
  height: 18px;
  margin: 0 16px 0 0;
}

.add-photo:hover {
  background-color: #FDF6F6;
}


.location-info {
  grid-column: 1/2;
  // border: 2px solid green;
}

.create-review-photo{
  grid-column: 1/2;
  border: 1px solid turquoise;
  display: grid;
  justify-content: center;
}

.review-items{
  grid-column: 1/2;
  border: 1px solid black;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  grid-template-columns: 33%
}


//#a71c1c