.splash-header.biz-page {
  height: 75px;
  background-image: none;
  background: #D32222;
  display: flex;
  flex-direction: row-reverse;
}
.splash-header.biz-index {
  height: 75px;
  background-image: none;
  background: #D32222;
  display: flex;
  flex-direction: row-reverse;
}

.search-bar.biz-page{
  // position: relative;
  // left: 85px;
  // top: -10px;
}

.search.biz-page{
  width:300px;
  // margin: 0 auto;
  // margin-top: 10px;
  // display: grid;
  // grid-template-columns: 10% 35% 10% 35% 10%;
  // justify-self: center;
  // width: 600px;
  // margin: 0 auto;
  // height: 20px;
  margin-right: 50px;

}

.search.biz-index{
  width:300px;
  // margin: 0 auto;
  // margin-top: 10px;
  // display: grid;
  // grid-template-columns: 10% 35% 10% 35% 10%;
  // justify-self: center;
  // width: 600px;
  // margin: 0 auto;
  // height: 20px;
  margin-right: 50px;

}

.search-field.biz-page{
  width: 170px;
  float: left;
  // grid-column: 2/5;
}

.search-field.biz-index{
  width: 170px;
  float: left;
  // grid-column: 2/5;
}

.map-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0;
  align-items: start;
}

.map-container img{
  height: auto;
  width: auto;
  grid-column: 1/2;
}
.hours {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  margin: 0;
  padding: 0;
}

.hours span{
  grid-column: 2/2;
  font-size: 12px;
  font-weight: 400;
  padding: 0;
  width: auto;
}
.hours p{
  grid-column: 1/2;
  font-size: 14px;
  font-weight: 500;
  padding: 0;
}



.log-in-btn.biz-page:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background: #bd1f1f 
}

.log-in-btn.biz-index:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background: #bd1f1f 
}

.nav-links.biz-page{
  display: none;
}

.nav-links.biz-index{
  display: none;
}

.log-in-btn.biz-page{
  // font-size: 12px;
  // border: 1px solid rgba(0, 0, 0, 0.2);
  // bottom: 4px;
  // margin-top: 20px; 
  // position: relative;
  // border-radius: 3px;

  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid black;
  border-radius: 8%;
  margin:0 10px 5px 5px;
  box-sizing: border-box;
  text-decoration:none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color:#FFFFFF;
  text-align:center;
  // transition: all .4s;
  font-size: 12px;
  // color: black;
  // background: white;
}

.log-in-btn.biz-index{
  // font-size: 12px;
  // border: 1px solid rgba(0, 0, 0, 0.2);
  // bottom: 4px;
  // margin-top: 20px; 
  // position: relative;
  // border-radius: 3px;

  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid black;
  border-radius: 8%;
  margin:0 10px 5px 5px;
  box-sizing: border-box;
  text-decoration:none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color:#FFFFFF;
  text-align:center;
  // transition: all .4s;
  font-size: 12px;
  // color: black;
  // background: white;
}

.sign-up-btn.biz-page{
  font-size: 12px;
  color: black;
  background: white;
}

.sign-up-btn.biz-index{
  font-size: 12px;
  color: black;
  background: white;
}

.sign-up-btn.biz-page:hover {
    color: black;
    background-color:#FFFFFF;
}

.sign-up-btn.biz-index:hover {
    color: black;
    background-color:#FFFFFF;
}

.demo-login-btn.biz-page{
  font-size: 12px;
}

.demo-login-btn.biz-index{
  font-size: 12px;
}

.search-btn.biz-page{
  background-color: #BD1F1E
}

.search-btn.biz-index{
  background-color: #BD1F1E
}

.search-btn.biz-page:hover{
  background-color: #A71B1C
}

.search-btn.biz-index:hover{
  background-color: #A71B1C
}



.gallery-container {
  width: 100%;
  // height: 250px;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 25px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.show-container {
  width: 960px;
  display: grid;
  grid-template-columns: 70% 30%;
  // border: 1px solid black;
  margin: 0 auto;
  grid-gap: 15px;
}

.gallery{
  display: grid;
}

.hours span{
  grid-column: 2/2;
  font-size: 12px;
  font-weight: 400;
  padding: 0;
  width: auto;
}


.sticky-info {
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: grid;
  grid-column: 2/2;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  border-radius: 4px;
  height: fit-content;
  top: 20px;
  // width: 380px;
}

.sticky-links{
  display: grid;
  grid-template-columns: 15% 85%;
  margin: 15px;
  // width: 350px;

  // grid-gap: 8px;
}

.sticky-links img{
  grid-column: 1/2;
  width: 24px;
  height: 24px;
  justify-self: center;
  align-self: center;
  color: #333;
  opacity: .7;
}

.sticky-links span{
  grid-column: 2/2;
  font-size: 12px;
  padding: 0;
  padding-left: 20px;
  align-self: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #333;
  
}

#sticky-hr{
    overflow: hidden;
    color: rgba(0, 0, 0, 0.2);
    display: grid;
    width: 98%;
}

.biz-info-container {
  // border: 2px solid blue;
  grid-column: 1/2;
}

.biz-info-container h1{ 
  font-size: 24px;
  font-weight: 700;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  padding-top: 6px;
  color: #333;
}

.biz-info-container h3{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #666;
}
.info-buttons {
  height: 35px;
  display: flex;
}
hr {
grid-column: 1/2;
    overflow: hidden;

    color: rgba(0, 0, 0, .1);
    display: grid;
    width: 98%;
}

.write-review-modal {
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all .4s;
  font-size: 12px;
  color: #D32323;
  padding: 5px 8px;
  margin: 0 16px 0 0;
  border-radius: 3px;
  height: 18px;
}

.write-review-modal:hover {
  background-color: #FDF6F6;
}

.rvw-btn.biz-info {
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all .4s;
  font-size: 12px;
  color: #D32323;
  padding: 5px 8px;
  // margin: 0 16px 0 0;
  border-radius: 3px;
  height: 18px; 
  margin-left: 15px;
}

.rvw-btn.biz-info:hover {
  background-color: #FDF6F6;
}

.log-btn.biz-info {
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all .4s;
  font-size: 12px;
  color: #D32323;
  padding: 5px 8px;
  // margin: 0 16px 0 0;
  border-radius: 3px;
  height: 18px; 
  margin-left: 15px;
}

.log-btn.biz-info:hover {
  background-color: #FDF6F6;
}



.add-photo {
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all .4s;
  font-size: 12px;
  color: #D32323;
  padding: 5px 8px;
  margin: 0 16px 0 0;
  border-radius: 3px;
  height: 18px;
  display: inline-block;
  margin: 5px;
}

.add-photo:hover {
  background-color: #FDF6F6;
}


.location-info {
  grid-column: 1/2;
  // border: 2px solid green;
}

.review-container-info {
  display: grid;
  justify-content: center;
}

.review-container{
  grid-column: 1/2;
  // border: 1px solid black;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  grid-template-columns: 33%;
  background-color: #F5F5F5;
}

.biz-map{
  width: 200px;
  height: 200px;
}

// .review-items{
//   display: grid;
//   grid-template-columns: 40% 60%;
// }

.profile-section{
  grid-column: 1/2;
}

.review-item{
  display: grid;
  grid-template-columns: 40% 60%
}

.profile-info{
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: none;
}

.profile-info img{
  width: 60px;
  height: 60px;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  margin: 20px 0;
  border-radius: 4px;
}

.review-form{
  // width: 150px;
}

.profile-info h3{
  grid-column: 2/2;
  margin-top: 20px; 
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  justify-self: flex-start;
  color: #0073BB;
}

.rating-review {
  display: grid;
  grid-template-rows: 30% 70%;
}

.static-rating {
  grid-row: 1/2;
  padding-top: 15px;
}

.review-body {
  align-self: flex-end;
}

.hr-row{
  grid-template-columns: 95%;
  height: 1px;
  background-color: rgba(0, 0, 0, .1);
  grid-column-start: 1;
  grid-column-end: 3;

  overflow: hidden;
  display: grid;
  width: 98%;
  justify-self: center;

}
.hr-row-top{
  grid-template-columns: 95%;
  height: 1px;
  background-color: rgba(0, 0, 0, .1);
  grid-column-start: 1;
  grid-column-end: 2;

  overflow: hidden;
  display: grid;
  width: 98%;
  justify-self: center;
}

.hr-row-sticky{
  grid-template-columns: 98%;
  height: 1px;
  background-color: rgba(0, 0, 0, .1);
  grid-column-start: 1;
  grid-column-end: 3;

  overflow: hidden;
  display: grid;
  width: 98%;
  justify-self: center;
  margin: 8px 0;

}

.static-rating img {
  display: inline;
}

.rating-review h3 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.create-review-photo{
  // grid-column: 1/2;
  border: 1px solid rgba(0, 0, 0, .2);
  // display: grid;
  // justify-content: center;
  padding: 15px 0;
  grid-template-columns: 40% 60%;
  justify-items: center;  
  grid-column: 1/2;
  border-radius: 4px;

}

.ball-rating {
  display: flex;
  grid-column: 2/2;
  // background-color: #F5F5F5;
}

.review-form{
  grid-column: 2/2;
  // display: none;
  // width: 130px;
  // // background-color: #F5F5F5;
  // margin: 5px;
}

.write-review-photo-upload{
  grid-column: 2/2;
  background-color: #F5F5F5; 
}
//#a71c1c

.logo-biz-page{
  display: flex; 
  position: absolute;
  height: 75px;
  width: 75px;
}

.logo-biz-index{
  display: flex; 
  position: absolute;
  height: 75px;
  width: 75px;
}

#logo-biz-page {
  width: 135px;
  height: 75px;
  // position: absolute;
}


#logo-biz-page {
  z-index: 10;
}

.logo-header.biz-page{
  display:none;
}
.logo-header.biz-index{
  display:none;
}

.new-header-container{
  display: flex;
  flex-direction: row-reverse;
  width: 866px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.splash-header.someClass {
  .new-header-container {
    position: relative;
    .search {
      position: absolute;
      top: 304px;
      left: 83px;
    }
    #logo-wrapper {
      display: none;
    }
  }
}

.map-google {
  width: 235x;
  height: 285px;
  // height: auto;
  // width: auto;
  grid-column: 1/2;
}