#login-header {
  background-color: #D32222;
  height: 60px;
  display: flex;
  justify-content: center;
}


section h1{
  color: #D32222;
  font-size: 24px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 550;
}

section h3 {
  color: black;
  font-size: 16px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 550;
  margin: 5px;
}

.login-container {
  background-color: white;
  width: 405px;
  height: 455px;
  display: flex;
  border-radius: 3px;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
}

.login-form {
  flex-direction: column;
}

a{
  color: #0073BB;
}

.main-container{
  width: 990px;
  display: flex;
  margin: 0 auto;
  padding-top: 150px;
}



.plain-input {
    width: 75%;
    background-color: white;
    border-radius: 3px;
    align-items: center;
    height: 41px;
    width: 300px;
    margin-bottom: 10px;
    padding: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    border: 1px solid gray;
}

.plain-text {
  text-align: right;
  margin-right: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: gray;
}

#login {
  background-color: #D32222;
  width: 300px;
  height: 41px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 3px;
}

.forgot-password {
  display: flex;
  justify-content: flex-end;
  
}

main p {
  text-align: center;
  padding: 15px;
}

.demo-login-btn {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  border-radius: 8%;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: gray;
  text-align:center;
  transition: all .4s;
}

.demo-login-btn:hover {
    color: white;
    background-color: gray;
}

footer {
  margin: 0 auto;
}

.sidepic {
  // background-image: image_url('signup_illustration.png');
  align-items: center;
}

.session-errors {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #FCD6D3;
  padding: 25px;
  border-radius: 3px;
  display: flex;
  opacity: .8;
  width: 990px;
  margin: 0 auto;
  display: none;
}

.session-errors.show {
  display: block;
  text-align: center;
  margin-top: 15px;

}