#signin-header {
  background-color: #D32222;
  height: 60px;
  display: flex;
  justify-content: center;
}

.logo {
  height: 80px;
  width: 100px;
  align-items: center;
}

section h1{
  color: #D32222;
  font-size: 24px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 550;
}

section h3 {
  color: black;
  font-size: 16px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 550;
  margin: 5px;
}

.signin-container {
  background-color: white;
  width: 405px;
  height: 455px;
  display: flex;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
}

.signin-form {
  flex-direction: column;
}

a{
  color: #0073BB;
}

.signin-main-container{
  width: 990px;
  display: flex;
  margin: 0 auto;
  padding-top: 150px;
}



.plain-input {
    width: 75%;
    background-color: white;
    border-radius: 3px;
    align-items: center;
    height: 41px;
    width: 300px;
    margin-bottom: 10px;
    padding: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    border: 1px solid gray;
}

.plain-text {
  text-align: right;
  margin-right: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: gray;
}

#signup {
  background-color: #D32222;
  width: 300px;
  height: 41px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 3px;
}

.forgot-password {
  display: flex;
  justify-content: flex-end;
  
}


.fname-lname {
  display: flex;
}

.fname {
  width: 96%;
  padding: 5px;
  box-sizing: border-box;
}

.lname {
  width: 96%;
  padding: 5px; 
  box-sizing: border-box;
}

.sidepic-signup {
  width: 100px;
  display: flex;
  flex-direction: column;
}