// * {
//   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
// }
.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 960px;
  
}

.splash-header {
  height: 600px;
  background-image: image_url('bball-header.jpg');
  background-size: cover;
  opacity: .9;
}


.session-links {
  float: right;
  margin-top: 20px;
  
}


.nav-bar section{
    float: left;
    margin-top: 20px;
    padding: 10px;
}

.photo {
  height: inherit;
}

.profile-pic {
  width: 65px;
  height: 65px;
  padding: 15px;
  border-radius: 2px;
}



.sign-up-btn {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  border-radius: 8%;
  margin:0 10px 5px 5px;
  box-sizing: border-box;
  text-decoration:none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color:#FFFFFF;
  text-align:center;
  transition: all .4s;
}

.sign-up-btn:hover {
    color: gray;
    background-color:#FFFFFF;
}


.nav-links {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: white;
  padding: 0 15px 10px 15px;
  
  // padding-right: 10px;
  // padding-left: 10px;
  margin-top: 20px;

}
.nav-links a{
  width: 500px;
  font-size: 16px;
  margin: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-links:hover {
  border-bottom: 1px solid white;
}



/////

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.search-bar {
  background-color: white;
  padding: 0;
  border-radius: 3px;
  margin-bottom: 120px;
  opacity: .9;
  width: 700px;
  display: flex;
  align-items: center;
}

.search-field {
  font-size: 14px;
  width: 285px;
}


.right-nav-bar {
  display: flex;
}

.fav-icon {
  height: 30px;
  width: 30px;
  padding: 15px;
  margin-top: 10px; 
}

#logout {
  margin-top: 1px;
  padding: 3px;
  font-size: 14px;
  margin-left: 5px;
}



#static-search {
  padding: 0 10px;
}

#divider {
  opacity: .3;
  align-items: center;
  height: 100%;

}

.search-ball {
  background-size: cover;
  height: 25px;
  width: 25px;
  // display: flex;
  // align-items: center;
  margin-bottom: 10px;
  position: relative;
  right: -1px;
  top: -5px
}

.search-btn {
  background-color: #D32222;
  padding: 15px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 15px;
  // display: flex;
  // align-items: center;
  
}

.ball-container {
  display: flex;
  align-items: center;
}